/* Destinatários */

#ipt_destinatarios {
	display: none;
}
#ul_destinatarios {
	border-style: solid;
	border-width: 1px;
	margin-left: 0;
	margin-right: 0;
}

/* Enviar */

#btn_enviar {
	float: right;
}