/* Geral */

html, body {
	-webkit-font-smoothing: antialiased;
	color: #333;
	font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	margin: 0;
}
h2 {
	float: left;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 15px;
}
p {
	margin-bottom: 10px;
}
b, strong {
	font-weight: bold;
}

/* Template */

#container {
	background-color: #0769AD;
	margin: 0 auto;
    padding: 20px 20px 0px 20px;
}
#content-wrapper {
	background: white;
	-webkit-box-shadow: rgba(255,255,255,0.3) 0 1px 0, rgba(0,0,0,0.3) 0 -1px 0;
	box-shadow: rgba(255,255,255,0.3) 0 1px 0, rgba(0,0,0,0.3) 0 -1px 0;
	-webkit-box-shadow: 0 0 3px rgba(1, 1, 1, 0.7);
	box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
	margin: 0 auto;
	min-height: 390px;
	position: relative;
}
#content-wrapper h1 a {
	background-image: url('../imagens/icones/agenda.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	font-size: 20px;
	line-height: 48px;
	margin-bottom: 5px;
	padding-left: 58px;
	text-decoration: none;
}
.tab {
	background-position: 10px;
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 50px !important;
}
#tab-contatos {
	background-image: url('../imagens/icones/contatos.png');
}
#tab-categorias {
	background-image: url('../imagens/icones/categorias.png');
}
#tab-email {
	background-image: url('../imagens/icones/email.png');
}
#content-wrapper ul li {
	float: right !important;
	top: 13px;
}
footer {
	background: url(../imagens/bg-footer-noise.jpg) repeat;
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.0)), url(../imagens/bg-footer-noise.jpg);
	background-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,0)), url(../imagens/bg-footer-noise.jpg);
	background-repeat: repeat-x, repeat;
	background-size: 100px 15px, 140px 140px;
	border-top: 1px solid #7ACEF4;
	display: block;
	height: 60px;
	margin-top: -20px;
	padding-top: 40px;
	padding-bottom: 10px;
}
footer, footer a {
	color: #fff;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
.constrain {
	margin: 0 auto;
	padding: 0px 20px;
}
#autor {
	background-image: url('../imagens/autor.jpg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: 50px;
	float: left;
	line-height: 50px;
	padding-left: 58px;
}
#redes_sociais {
	float: right;
	margin-top: 10px;
	width: 250px;
}

/* Data tables */

.dataTables_filter input {
	background: white url(../imagens/icones/pesquisar.png) left 5px center no-repeat !important;
	padding-left: 26px !important;
}
.dataTable tr:not([role=row]):hover {
	opacity: 0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
	border: 1px solid white; /* fix for IE < 9 */
}	
.acoes_wrapper {
	text-align: center !important;
}
tr.even {
	background-color: #F2F8FC;
}
tr.even td[class*="sorting"] {
	background-color: #DEEDF7;
}
tr.odd {
	background-color: #D8ECFA;
}
tr.odd td[class*="sorting"] {
	background-color: #CADDEA;
}

/* Forms */

table.form td {
	vertical-align: middle;
}
table.form td.label {
	padding-right: 10px;
	text-align: right;
}
table.form td.label label {
	font-weight: bold;
}
table.form td.field {
	padding-bottom: 10px;
}
table.form input[type=text].error, table.form input[type=password].error {
	background: #FFF999;
	border-color: #D47E8A !important;
}
table.form input[type=button], table.form input[type=submit] {
	float: right;
	margin-top: 10px;
}
table.form span.required {
	color: red;
	font-weight: bold;
}

/* Other */

.clear {
	clear: both;
}
/*label.success, label.error {
	display: block;
	font-style: italic;
	font-weight: normal;
}
label.success {
	color: green;
}*/
input.error {
	border-color: red;
}
label.error {
	color: red;
}

/* Ãcones */

.icone{background: no-repeat 0 center; display: inline-block;}
.icone_16x16{background-size: 16px 16px; width: 16px; height: 16px;}
.icone_22x22{background-size: 22px 22px; width: 22px; height: 22px;}
.icone_24x24{background-size: 24px 24px; width: 24px; height: 24px;}

.icone_novo_contato{background-image: url(../imagens/icones/novo_contato.png);}
.icone_nova_categoria{background-image: url(../imagens/icones/nova_categoria.png);}
.icone_salvar_azul{background-image: url(../imagens/icones/icon_salvar_azul.png);}
.icone_voltar_azul{background-image: url(../imagens/icones/icon_voltar_azul.png);}
.icone_importar_azul{background-image: url(../imagens/icones/icon_importar_azul.png);}
.icone_enviar{background-image: url(../imagens/icones/enviar.png);}

.icone_editar{background-image: url(../imagens/icones/editar.png);}
.icone_excluir{background-image: url(../imagens/icones/excluir.png);}
.icone_download{background-image: url(../imagens/icones/icon_download.png) !important;}
.icone_play{background-image: url(../imagens/icones/icon_play.png) !important;}
.icone_cancelar{background-image: url(../imagens/icones/icon_cancelar.png) !important;}

.icone_categoria{background-image: url(../imagens/icones/icon_categoria.png) !important;}
.icone_contato{background-image: url(../imagens/icones/icon_contato.png) !important;}
.icone_grupo{background-image: url(../imagens/icones/icon_grupo.png) !important;}
.icone_conteudos{background-image: url(../imagens/icones/icon_conteudos.png) !important;}
.icone_conteudo{background-image: url(../imagens/icones/icon_conteudo.png) !important;}
.icone_images{background-image: url(../imagens/icones/icon_images.png) !important;}
.icone_arquivos{background-image: url(../imagens/icones/icon_conteudos.png) !important;}

.botao_com_icone span {
	line-height: 22px;
	padding-left: 30px;
	width: auto;
}
