/* Ícones nos títulos das seções  */

section h2 {
	background-position: top right;
	background-repeat: no-repeat;
	background-size: contain;
	padding-right: 250px;
}

section.logo_aptana h2 {
	background-image: url('../imagens/logo/aptana.png');
}
section.logo_blockui h2 {
	background-image: url('../imagens/logo/blockui.jpeg');
}
section.logo_ckeditor h2 {
	background-image: url('../imagens/logo/ckeditor.png');
}
section.logo_datatables h2 {
	background-image: url('../imagens/logo/datatables.png');
}
section.logo_fancybox h2 {
	background-image: url('../imagens/logo/fancybox.png');
}
section.logo_formee h2 {
	background-image: url('../imagens/logo/formee.jpg');
}
section.logo_google-chrome h2 {
	background-image: url('../imagens/logo/google-chrome.png');
}
section.logo_jcarousel h2 {
	background-image: url('../imagens/logo/jcarousel.jpeg');
}
section.logo_jquery-mask h2 {
	background-image: url('../imagens/logo/jquery-mask.jpeg');
}
section.logo_jquery-timepicker h2 {
	/* background-image: url('../imagens/logo/jquery-timepicker.jpeg'); */
}
section.logo_jquery-ui h2 {
	background-image: url('../imagens/logo/jquery-ui.png');
}
section.logo_jquery-validate h2 {
	/* background-image: url('../imagens/logo/jquery-validate.jpeg'); */
}
section.logo_jquery h2 {
	background-image: url('../imagens/logo/jquery.png');
}
section.logo_notify h2 {
	background-image: url('../imagens/logo/notify.jpeg');
}
section.logo_tag-it h2 {
	background-image: url('../imagens/logo/tag-it.png');
}
section.logo_tooltipster h2 {
	background-image: url('../imagens/logo/tooltipster.jpeg');
}
section.logo_uploadify h2 {
	background-image: url('../imagens/logo/uploadify.png');
}
section.logo_xampp h2 {
	background-image: url('../imagens/logo/xampp.png');
}

/* Ícones */

.icone{background: no-repeat 0 center; display: inline-block;}
.icone_16x16{background-size: 16px 16px; width: 16px; height: 16px;}
.icone_22x22{background-size: 22px 22px; width: 22px; height: 22px;}
.icone_24x24{background-size: 24px 24px; width: 24px; height: 24px;}

.botao_com_icone span {
	line-height: 22px;
	padding-left: 30px;
	width: auto;
}

.icone_jquery{background-image: url(../imagens/icones/jquery.png);}

/* Syntax Highlighter */

.syntaxhighlighter {
	font-size: 18px !important;
}
.syntaxhighlighter .line {
    white-space: pre-wrap !important;
}
.syntaxhighlighter .line.alt2 {
	background-color: #E1E1E1 !important;
}
.syntaxhighlighter .line:hover {
	background: #99CDF1 !important;
}

/* Diversos */

.center {
	display: table;
	margin: 0 auto;
}
.screenshot {
	max-height: 50%;
}
.screenshot_ferramentas {
	max-height: 40%;
}