.table_contato_acoes, .table_contato_categoria_contatos, .table_contato_categoria_pertence {
	text-align: center;
}
.link_excluir_contato {
	margin-left: 10px;
}
.contato_telefone.primeiro .btn_excluir {
	margin-top: 35px;
}
.btn_excluir span.ui-button-text {
	padding: 6px;
}
.btn_excluir span.icone {
	padding-left: 22px;
}
